/* ---------------
    Fonts
----------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font: "Poppins", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
$font-logo: "Dancing Script", cursive;

/* ---------------
    Global CSS
----------------*/
$main-color: #7857fe;
$color-1: #fbc7d4;
$color-2: #acb6e5;
$color-3: #09d69c;
$bg-dark: #2b2c2f;
$main-to-dark-color: $main-color;
$dark-to-main-color: $bg-dark;
$shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
$shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
$black-900: #000;
$black-400: #555;
$black-100: #f7f7f7;
$black-000: #fff;
$black-alpha-100: rgba(0, 0, 0, 0.05);
$gradient-color: linear-gradient(#cc95c0, #dbd4b4, #7aa1d2);
$gradient-color-2: linear-gradient(135deg, #fbc7d4, #fff);
$for-navbar: #7aa1d2;
$box-fun-facts-1: linear-gradient(135deg, #f09819, #fff);
$box-fun-facts-2: linear-gradient(135deg, #ee9ca7, #fff);
$box-fun-facts-3: linear-gradient(135deg, #7f7fd5, #fff);
$box-fun-facts-4: linear-gradient(135deg, #7aa1d2, #fff);

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
body {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.5;
  img {
    max-width: 100%;
    vertical-align: middle;
  }
  ul {
    list-style: none;
  }
  .btn-1 {
    background-color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: $for-navbar;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: $shadow-black-300;
    font-weight: 500;
    &:focus {
      box-shadow: $shadow-black-300;
    }
    &:hover {
      color: #fff;
      background-color: $for-navbar;
    }
  }
  @keyframes spin_01 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes bounceTop_01 {
    0%,
    100% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(0px);
    }
  }
  @keyframes bounceTop_02 {
    0%,
    100% {
      transform: translateX(-30px);
    }
    50% {
      transform: translateX(0px);
    }
  }
  @keyframes pulse_01 {
    0% {
      transform: scale(0.94);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
    100% {
      transform: scale(0.94);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
}

/* ---------------
    Navbar
----------------*/
.navbar {
  background-color: transparent;
  padding: 20px 0;
  transition: all 0.5s ease;
  &.navbar-shrink {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: $for-navbar;
    padding: 10px 0;
  }
  .container {
    padding: 0 15px;
    .navbar-brand {
      font-size: 30px;
      color: #fff;
      font-weight: 500;
      text-transform: capitalize;
      font-family: $font-logo;
    }
    .nav-item {
      margin-left: 40px;
      .nav-link {
        position: relative;
        color: #fff;
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 400;
        padding: 5px 0;
        &.active,
        &:hover {
          &::before {
            transform: scale(1);
          }
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          background-color: #fff;
          transition: all 0.5s ease;
          transform: scale(0);
        }
      }
    }
  }
}

/* ---------------
    Home Section
----------------*/
.home {
  min-height: 100vh;
  padding: 150px 0;
  background: $gradient-color;
  border-radius: 0 0 200px 0;
  position: relative;
  z-index: 1;
  .effect-wrap {
    .effect {
      position: absolute;
      z-index: -1;
    }
    .effect-1 {
      left: 20%;
      top: 20%;
      font-size: 20px;
      color: $color-2;
      animation: spin_01 5s linear infinite;
    }
    .effect-2 {
      right: 5%;
      top: 10%;
      font-size: 25px;
      color: rgba(255, 255, 255, 0.5);
      animation: spin_01 7s linear infinite;
    }
    .effect-3 {
      left: 5%;
      bottom: 30%;
      font-size: 25px;
      color: $color-3;
      animation: bounceTop_01 3s linear infinite;
    }
  }
  .home-text {
    h1 {
      font-size: 45px;
      font-weight: 700;
      color: #fff;
      margin: 0 0 20px;
    }
    p {
      font-size: 18px;
      line-height: 28px;
      color: #fff;
      margin: 0;
      font-weight: 300;
    }
    .home-btn {
      margin-top: 40px;
      .video-play-btn {
        margin-left: 25px;
        animation: pulse_01 2s ease infinite;
        i {
          margin-right: 5px;
        }
        &:hover {
          animation: none;
          box-shadow: $shadow-black-300;
        }
      }
    }
  }
  .home-img {
    position: relative;
    .circle {
      position: absolute;
      z-index: 1;
      height: 400px;
      width: 400px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &::before {
        content: "";
        position: absolute;
        height: 60px;
        width: 60px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        left: 30px;
        top: 30px;
        transform-origin: 170px 170px;
        animation: spin_01 10s linear infinite;
      }
    }
    img {
      max-width: 320px;
      width: 100%;
      box-shadow: none;
      border-radius: 32px;
      animation: bounceTop_01 7s ease infinite;
    }
  }
}

/* ---------------
    Features Section
----------------*/
.section-padding {
  padding: 80px 0;
  .section-title {
    margin-bottom: 60px;
    h2 {
      font-size: 40px;
      color: $black-900;
      font-weight: 700;
      text-transform: capitalize;
      text-align: center;
      position: relative;
      margin: 0;
      span {
        color: $for-navbar;
      }
    }
  }
  .owl-carousel {
    .owl-dots {
      padding: 0 15px;
      text-align: center;
      margin-top: 20px;
    }
    button {
      &.owl-dot {
        height: 6px;
        width: 24px;
        background-color: #ddd;
        display: inline-block;
        margin: 0 4px;
        border-radius: 5px;
        &.active {
          background-color: $for-navbar;
        }
      }
    }
  }
  .feature-item {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 1;
    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      border-radius: 50%;
      transition: all 0.5s ease;
      opacity: 0;
    }
    &:hover {
      &::before {
        left: 10px;
        opacity: 1;
      }
      &::after {
        right: 10px;
        opacity: 1;
      }
    }
    &::before {
      height: 20px;
      width: 20px;
      background-color: $color-1;
      left: -20px;
      top: 40%;
    }
    &::after {
      height: 30px;
      width: 30px;
      background-color: $color-2;
      right: -30px;
      top: 80%;
    }
    &:hover .icon {
      color: #fff;
      font-size: 20px;
      &::before {
        left: 0;
        border-radius: 50%;
        opacity: 1;
      }
    }
    .icon {
      height: 60px;
      width: 60px;
      text-align: center;
      margin: 0 auto 30px;
      color: $for-navbar;
      font-size: 30px;
      position: relative;
      z-index: 1;
      transition: all 0.5s ease;
      &::before {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $main-color;
        transition: all 0.5s ease;
        z-index: -1;
        opacity: 0;
      }
      i {
        line-height: 60px;
      }
    }
    h3 {
      font-size: 22px;
      margin: 0 0 20px;
      color: $black-900;
      font-weight: 500;
      text-transform: capitalize;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;
      color: $black-400;
      margin: 0 0 15px;
    }
  }
}

/* ---------------
    Fun Facts Section
----------------*/
.fun-facts {
  background-color: $black-100;
  .fun-facts-img {
    max-width: 350px;
    width: 100%;
    box-shadow: none;
    border-radius: 32px;
    animation: bounceTop_02 7s ease infinite;
    img {
      border-radius: 10px;
    }
  }
  .section-title {
    margin-bottom: 20px;
    h2 {
      text-align: left;
    }
  }
  .fun-facts-text {
    p {
      font-size: 16px;
      line-height: 26px;
      color: $black-400;
      margin: 0 0 15px;
      font-weight: 300;
    }
    .fun-fact-item {
      padding: 40px 30px;
      text-align: center;
      box-shadow: $shadow-black-300;
      border-radius: 10px;
      margin-top: 30px;
      cursor: pointer;
      h3 {
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 0;
        color: $black-100;
        i {
          color: #3dc99d;
        }
      }
      span {
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 400;
        margin: 0;
        line-height: 26px;
        display: block;
        color: $black-100;
      }
      &.style-1 {
        background: $box-fun-facts-1;
      }
      &.style-2 {
        background: $box-fun-facts-2;
      }
      &.style-3 {
        background: $box-fun-facts-3;
      }
      &.style-4 {
        background: $box-fun-facts-4;
      }
    }
  }
}

/* ---------------
    Gallery Section
----------------*/
.screenshot-item {
  img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
  }
}

/* ---------------
    Video Popup
----------------*/
.video-popup {
  padding: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  .video-popup-inner {
    width: 100%;
    max-width: 900px;
    position: relative;
    .video-popup-close {
      position: absolute;
      right: 0;
      top: -30px;
      height: 30px;
      width: 30px;
      font-size: 16px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      color: #fff;
    }
    .iframe-box {
      height: 0;
      overflow: hidden;
      padding-top: 56.25%;
      #player-1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
}
